*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

input:focus,textarea:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

header{
    width: calc(100vw-10px);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;

    background-color: black;
    color: white;
}

.ulLinks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ulLinks li{
    border: 1px solid black;
    padding: 10px;
    width: 33.33vw;
    text-align: center;
}

.sectionProdutos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 5% 10% 1% 10%;
}

.boxProdutos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

img{
    width: 20vw;
}